<font class="content">
<font class="content"><center><b><{$block.nextevent}><font color="red"><{$block.info1}></font>
<br><{$block.registration}><font color="00ff33"><{$block.info2}></font></b></center>
<br><strong><big>·</big></strong><a href="<{$xoops_url}>/modules/LanMod/index.php?map=show"> <{$block.details}></a>
<{$block.content}>
<br><strong><big>·</big></strong> <a href="<{$xoops_url}>/modules/LanMod/index.php?going=show"><{$block.whoscomming}></a><br><strong><big>·</big></strong> <a href="<{$xoops_url}>/modules/LanMod/index.php?spons=show"><{$block.sponsors}></a></font>